@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500&display=swap');

html, body {
    margin:0;
    /*background-color:#b1ede8;*/
    background-color:#212;
    font-family:"Roboto";
    color:#dcd9d5;
}

h1 {
}

a {
    text-decoration: none;
}

a.link {
    color:#dcd9d5;
    text-decoration: underline;
    font-weight:600;
}