.adminHeader {
	height:30px;
}

.adminHeader a {
	text-decoration: none;
	color:rgba(255, 255, 255, .9);
	margin-left:30px;
	cursor: pointer
}

.adminHeader a:hover {
	color:rgba(255, 255, 255, .7);
}