.layoutWrapper {
    width:;
    margin:0 auto;
}

.layoutWrapper > * {
    width:100%;
}

@media only screen and (min-width:500px) {

    .layoutWrapper {
        width:90%;
        max-width:1500px;
        margin-top:60px;
    }

    .layoutWrapper > * {
    }
}
